<!DOCTYPE html>
<html>
<head>
  <title>ideas.txt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>

<%= yield %>
<br>
<a href="http://railsrumble.com/" ><img class="center" src="https://d4nnn7wspfa3h.cloudfront.net/rails-rumble-badge-2014.png"></a>
</body>
</html>
